
<form id="signup-form" ng-submit="vm.modifyProfile()" name="vm.modifyProfileForm" novalidate>
	<div ng-if="!vm.isChangingPassword">
		 <div class="form-group row">
		 	<div class="col-xs-8">
	    		<p class="h3 bg-success" align="center">Profiles</p>
	    	</div>
	    </div>
	    <div class="form-group row">
	        <div class="col-xs-2">
	            <label>Username:</label>
	        </div>
	        <div class="col-xs-10">        
	            <p>{{vm.currentUser.username}}</p>
	        </div>
	    </div>
	    <div class="form-group row">
	        <div class="col-xs-2">
	            <label>First Name:</label>
	        </div>
	        <div class="col-xs-10">
	            <input  class="form-control" ng-if="vm.isEditing === true" name="firstName" id="firstName" type="text" ng-model="vm.currentUser.firstName" ng-model-options="{ updateOn: 'submit' }" required>
	            <p ng-if="vm.isEditing === false">{{vm.currentUser.firstName}}</p>
	            <p class="error-form" ng-show="vm.modifyProfileForm.firstName.$touched && vm.modifyProfileForm.firstName.$error.required">First name can not be empty.</p>
	        </div>
	    </div>
	    <div class="form-group row">
	        <div class="col-xs-2">
	            <label>Last Name:</label>
	        </div>
	        <div class="col-xs-10">
	            <input  class="form-control" ng-if="vm.isEditing === true" name="lastName" id="lastName" type="text" ng-model="vm.currentUser.lastName" ng-model-options="{ updateOn: 'submit' }" required>
	            <p ng-if="vm.isEditing === false">{{vm.currentUser.lastName}}</p>
	            <p class="error-form" ng-show="vm.modifyProfileForm.lastName.$touched && vm.modifyProfileForm.lastName.$error.required">Last name can not be empty.</p>
	        </div>
	    </div>
	    <div class="form-group row">
	        <div class="col-xs-2">
	            <label>Category:</label>
	        </div>
	        <div class="col-xs-10">    
	            <p>{{vm.currentUser.userCategory}}</p>
	        </div>
	    </div>
	    <div class="form-group row">
	        <div class="col-xs-2">
	            <label>User Type:</label>
	        </div>
	        <div class="col-xs-10">        
	            <p>{{vm.currentUser.userType}}</p>
	        </div>
	    </div>
    </div>

    <div ng-show="vm.hasError" class="row">
		<div class="col-xs-4">
			<div uib-alert ng-class="'alert-danger'" close="vm.closeEditError()">{{vm.error}}</div>	
		</div>
	</div>

    <button ng-if="vm.isEditing === false" class="btn edit-btn" type="button" ng-click="vm.editProfile()"></button>
    <button ng-if="vm.isEditing === false" class="btn simple-btn" type="button" ng-click="vm.passwordChange()">Change password</button>
	<button ng-if="vm.isEditing === true" class="btn ok-btn" type="submit" ></button>
	<button ng-if="vm.isEditing === true" class="btn cancel-btn" type="button" ng-click="vm.editProfileCancle()"></button>
	<br><br>
</form>

