<form id="signup-form2" ng-submit="vm.profilePasswordChange()" name="passwordChangeForm">
    <div class="form-group row">
        <div class="col-xs-6">
            <p class="h3 bg-success" align="center">Password Change</p>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1">
            <label>New Password:</label>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-4">
            <input class="form-control" type="password" ng-model="vm.passwordNew"
                   ng-model-options="{ updateOn: 'submit' }">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1">
            <label>New Password Confirm:</label>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-4">
            <input class="form-control" type="password" ng-model="vm.passwordConfirm"
                   ng-model-options="{ updateOn: 'submit' }">
        </div>

    </div>
    <div class="form-group row">
        <div class="col-xs-4">
        <button class="btn ok-btn" type="submit"></button>
        <button class="btn cancel-btn" type="button" ng-click="vm.passwordChangeCancle()"></button>
        </div>
    </div>


    <div ng-show="vm.hasError" class="row">
        <div class="col-xs-4">
            <div uib-alert ng-class="'alert-danger'" close="vm.closeEditError()">{{vm.error}}</div>
        </div>
    </div>


    <br><br>
</form>

