<nav class="nav-menu" role="navigation">
    <div id="menuToggle">
        <input type="checkbox"/>
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
            <li ng-if="vm.currentUser.username != NULL"><a href="/profile">Profile</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/ebooks">Ebooks</a></li>
            <li><a href="/ebookSearch">Ebooks Search</a></li>
            <li ng-if="vm.currentUser.userType === 'administrator'"><a href="/users">Users</a></li>
            <!--<li ng-if="vm.currentUser.username != NULL"><a href="" >{{vm.currentUser.firstName}}&nbsp{{vm.currentUser.lastName}}</a></li>-->
            <!--<li ng-if="vm.currentUser.username != NULL"><a href="" >{{vm.currentUser.userType.toUpperCase()}}</a></li>-->
            <li ng-if="vm.currentUser.username == NULL">
                <button class="btn simple-btn" ng-click="vm.login()">Log in</button>
            </li>
            <li ng-if="vm.currentUser.username != NULL">
                <button class="btn simple-btn" ng-click="vm.logout()">Log out</button>
            </li>
        </ul>
    </div>
</nav>