<form id="ebookAdd" ng-submit="vm.addNewEbook()" name="vm.addForm" novalidate>
	<div class="form-group row">
	 	<div class="col-xs-10">
    		<p class="h3 bg-success" align="center">Add ebook</p>
    	</div>
    </div>
    <!-- <p style="color: yellow">{{vm.notPDF}}</p> -->
    
    <div ng-if="vm.hasAddError" class="row">
        <div class="col-xs-10">
            <div uib-alert ng-class="'alert-danger'" close="vm.closeAddAlert()"> {{vm.error}}</div>
        </div>
    </div>
    <!-- <span us-spinner="{radius:30, width:8, length: 16, color:'GREEN'}" spinner-on="vm.showUploadSpinner" style="position: relative"></span> -->
    <div class="form-group row" us-spinner="{radius:59, width:16, length: 10, color:'#bb86fc'}" spinner-on="vm.showUploadSpinner" >
         <div class="col-xs-2">
            <label for="file">File:</label>
        </div>
        <div class="col-xs-4">
            <input class="form-control"  type="file" ng-model="vm.file" onchange="angular.element(this).scope().vm.upload(this.files)" id="file" name="file" placeholder="File">
            <p class="error-form" ng-if="vm.notPDF">Only pdf file can be uploaded.</p>
        </div>
    </div>
    <div ng-if="vm.hasAddSuccess" class="row">
        <div class="col-xs-4 col-xs-offset-2">
            <br><br>
            <div uib-alert ng-class="'alert-success'" close="vm.closeAddAlert()" dismiss-on-timeout="3000"> {{vm.success}}</div>
        </div>
    </div>

    <div ng-if="vm.file && vm.showUploadSpinner === false">
        <div class="form-group row">
            <div class="col-xs-2">
                <label>Title:</label>
            </div>
            <div class="col-xs-4">        
                <input class="form-control" name="title" id="title" type="text" ng-model="vm.ebook.title" required>
                <p class="error-form" ng-show="vm.addForm.title.$touched && vm.addForm.title.$error.required">Title can not be empty.</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2">
                <label>Author:</label>
            </div>
            <div class="col-xs-4">        
                <input class="form-control" name="author" id="author" type="text" ng-model="vm.ebook.author">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2">
                <label>Keywords:</label>
            </div>
            <div class="col-xs-8">        
                <input class="form-control" name="keywords" id="keywords" type="text" ng-model="vm.ebook.keywords">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2">
                <label>Publication Year:</label>
            </div>
            <div class="col-xs-2">        
                <input class="form-control" type="number" ng-model="vm.ebook.publicationYear">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2">
                <label>Category:</label>
            </div>
            <div class="col-xs-2">        
                <select class="form-control" name="category" id="category" ng-model="vm.ebook.category" ng-options="category.id as category.name for category in vm.categories" required>   
                    <option value="">--Select Category--</option>              
                </select>
                <p class="error-form" ng-show="vm.addForm.category.$touched && vm.addForm.category.$error.required">Category need to be selected.</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2">
                <label>Language:</label>
            </div>
            <div class="col-xs-2">        
                <select class="form-control" name="language" id="language" ng-model="vm.ebook.language" ng-options="language.id as language.name for language in vm.languages" required>
                    <option value="">--Select Language--</option>              
                </select>
                <p class="error-form" ng-show="vm.addForm.language.$touched && vm.addForm.language.$error.required">Language need to be selected.</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2">
                <label>File Name:</label>
            </div>
            <div class="col-xs-4">        
            <!-- ng-readonly="true" -->
                <input  class="form-control" name="fileName" id="fileName" type="text" ng-model="vm.ebook.fileName" required="">
                <p class="error-form" ng-show="vm.addForm.fileName.$touched && vm.addForm.fileName.$error.required">File name can not be empty.</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2">
                <label>MIME:</label>
            </div>
            <div class="col-xs-2">        
                <input class="form-control" type="text" ng-model="vm.ebook.mime" ng-disabled="true">
            </div>
        </div>
       
    	<button class="btn ok-btn" type="submit" ></button>
    	<button class="btn cancel-btn" type="button" ng-click="vm.addNewEbookCancel()"></button>
    	<br><br>
     </div>
</form>


