<div class="form-group row">
 	<div class="col-xs-12">
		<p class="h3 bg-success" align="center">Books</p>
	</div>
</div>


<div class="form-group row">
    <div class="col-xs-2">
        <label>Show by category:</label>
    </div>
    <div class="col-xs-2">        
        <select class="form-control" ng-model="vm.categorySelected" ng-options="category.id as category.name for category in vm.categories">   
			<option value="">All categories</option> 		    	
		</select>
    </div>
    <div class="col-xs-2">
    	<button type="button" class="btn simple-btn" ng-click="vm.ebookByCategory(vm.categorySelected)">Show by Category</button>
    </div>
</div>
<br>

<div class="table-responsive">
	<table class="table table-hover table-bordered">
		<thead class="thead-inverse">
		    <tr>
		        <th>Title</th>
		        <th>Author</th>
		        <th>Keywords</th>
		        <th>Publication Year</th>
		        <th>Category</th>
		        <th>Language</th>
		        <th>File name</th>
		        <th>Added by</th>
		        <th>Options</th>   
		    </tr>
		</thead>
		<tbody>
			<tr ng-repeat="ebook in vm.ebooks">
			    <td>{{ebook.title}}</td>  
			    <td>{{ebook.author}}</td> 
			    <td>{{ebook.keywords}}</td>
			    <td class="col-xs-1">{{ebook.publicationYear}}</td>
			    <td>{{ebook.category.name}}</td>
			    <td>{{ebook.language.name}}</td>		  
			    <td>{{ebook.fileName}}</td>		
			    <td>{{ebook.users.username}}</td>
			    <td class="col-xs-2" align="center">
			    	<button ng-if="vm.currentUser.userType === 'administrator' || (vm.currentUser.userType === 'subscriber' && vm.currentUser.userCategory === NULL) || (vm.currentUser.userType === 'subscriber' && vm.currentUser.userCategory === ebook.category.name)" class="btn download-btn" type="button" ng-click="vm.downloadEbook(ebook.fileName)"></button>
			    	<button ng-if="vm.currentUser.userType === 'administrator'" type="button" class="btn edit-btn" ng-click="vm.editEbook(ebook.id)"></button>
			    	<button ng-if="vm.currentUser.userType === 'administrator'" type="button" class="btn delete-btn" ng-click="vm.deleteEbook(ebook.id)"></button>
			    	<button ng-if="vm.currentUser.username == NULL" type="button" class="btn simple-btn" ng-click="vm.register()">Register To Download</button>
			    </td>
			</tr>
		</tbody>
	</table>

</div>
<div ng-show="vm.hasEditError" class="row">
	<div class="col-xs-4">
		<div uib-alert ng-class="'alert-danger'" close="vm.closeAddAlert()"> {{vm.error}}</div>
	</div>
</div>

<button ng-if="vm.currentUser.userType === 'administrator'" type="button" class="btn add-btn" ng-click="vm.addEbook()"></button>
