<br><br><br><br>
<div class="container">
<h2 align="center">Login to E-book repository</h2>

<br><br>

<div ng-show="vm.hasLoginError" class="row">
	<div class="col-xs-4 col-xs-offset-4">
		<div uib-alert ng-class="'alert-danger'" ng-repeat="error in vm.errors track by $index"  close="vm.closeAlert($index)"> {{error}}</div>
	</div>
</div>
<form role="form"  ng-submit="vm.login()">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4">
			<div class="form-group">
				<label>Username</label>
				<input type="text" class="form-control" name="username" placeholder="Enter your username" ng-model="vm.username">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4">
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" name="password" placeholder="Enter your password" ng-model="vm.password">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-5 col-xs-offset-5">
			<div class="form-group">
				<button type="submit" class="btn simple-btn">Login</button>
			</div>
		</div>
	</div>

	
</form>

</div>