
#signup-form {
    margin-left: 30%;
    margin-right: 30%;

    text-align: center;
    display: block;
}

#search {
    margin-left: 30%;
    text-align: center;
}

#categoryAdd {
    margin-left: 30%;
    text-align: center;
}
#signup-form2 {
    margin-left: 30%;
    text-align: center;
    display: block;
    text-align: center;
}

.center {
    display: block;
    text-align: center;
    text-decoration: underline;
}

.adit-text {
	font-size: 38px;
	font-style: oblique;
	font-family: "Times New Roman", Georgia, Serif;
	color: #58BC57;
	text-decoration: underline;
}
.home-text {
	font-size: 24px;
	font-style: oblique;
	font-family: "Times New Roman", Georgia, Serif;
	color: #58BC57;
}

.home-title-text {
	font-size: 30px;
	font-style: oblique;
	font-family: "Times New Roman", Georgia, Serif;
	color: #58BC57;
}


 .dropdown-menu li a:hover{ 
    background-color: orange;
}

.error-form {
     color: red;
     font-style: italic;
}


body {
	/*background-image: url(../img/old2.jpg);*/
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
    /*padding-top: 70px; */
    /*background: silver;*/

    /*zbog lokovanog navbar*/
}

.content {
    max-width: 1500px;
    margin: auto;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;

}
.navpadd {
    max-width: 1500px;
    margin: auto;
    background: white;
    padding-bottom: 10px;
}

.margin10 {
    margin-right:15px;
}

p {
    color: #1d90ff;
}

.margin5-button {
    margin-right: 5px;
}

.margin5-bottom-button {
    margin-botton : 5px;
}

label {
    color: #3700B3;
}

h2 {
    color: #3700B3;
}

.h3 {
    color: #3700B3;
    background: white;
}

th {
    background-color: #6200ee;
    text-align: center;
    color: white;
    height: 50px;
}

td {
    /*color: #ffd9b3;*/
    color: #3700B3;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color:whitesmoke;
}

.td-buttons {
    min-width: 12%; 
    width: 12%
}

p {
    font-size: 18px;
}

label {
    font-size: 18px;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}


#menu a {
    text-decoration: none;
    color: #3700B3;
    transition: color 0.3s ease;
}

#menuToggle {
    display: block;
    position: relative;
    padding-top: 30px;
    padding-left: 30px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #3700B3;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #3700B3;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 20%;
    height: 2000%;
    margin: -100px 0 0 -120px;
    padding-top: 125px;
    background: #f1f1f1;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.nav-menu {
    width: 100%;
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
    text-align: left;
}

#menu li img {
    text-align: left;
    vertical-align: middle;
}

#menuToggle input:checked ~ ul {
    transform: none;
}

/* start da css for da buttons */
.btn {
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
    margin: 2px;
    color: #fff;
    position: relative;
    display: inline-block;
    min-width: 40px;
    min-height: 40px;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.add-btn {
    background:url(../img/img_add.png) no-repeat;
    background-position: center;
    background-color: #BB86fc;
}

.edit-btn {
    background:url(../img/img_edit.png) no-repeat;
    background-position: center;
    background-color: #BB86fc;
}

.delete-btn {
    background:url(../img/img_delete.png) no-repeat;
    background-position: center;
    background-color: #BB86fc;
}

.ok-btn {
    background:url(../img/img_ok.png) no-repeat;
    background-position: center;
    background-color: #BB86fc;
}

.cancel-btn {
    background:url(../img/img_cancel.png) no-repeat;
    background-position: center;
    background-color: #BB86fc;
}

.simple-btn {
    background-position: center;
    background-color: #BB86fc;
}

.download-btn {
    background:url(../img/img_download.png) no-repeat;
    background-position: center;
    background-color: #BB86fc;
}

.blue {
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
    background-color: #6FC6FF;
}

.green {
    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
    background-color: #48E68B;
}

.red {
    background-color: #e74c3c;
    box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
    background-color: #FF6656;
}

.purple {
    background-color: #9b59b6;
    box-shadow: 0px 5px 0px 0px #82409D;
}

.purple:hover {
    background-color: #B573D0;
}

.orange {
    background:url(../img/img_edit.png) no-repeat;
    background-position: center;
    background-color: #e67e22;

}

.orange:hover {
    background-color: #FF983C;
}

.yellow {
    background-color: #f1c40f;
    box-shadow: 0px 5px 0px 0px #D8AB00;
}

.yellow:hover {
    background-color: #FFDE29;
}