

<span us-spinner="{radius:59, width:16, length: 10, color:'#bb86fc'}" spinner-on="vm.showSearchSpinner"></span>

<div>
    <div class="form-group row">
        <div class="col-xs-12">
            <p class="h3 bg-success" align="center">E-Book Search</p>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="thead-inverse">
            <tr>
                <th>
                    <div>
                        <div>
                            <input class="form-control" type="text" placeholder="Title"
                                   ng-keypress="vm.keypress($event)"
                                   ng-model="vm.searchAttributes.fields[0].value">
                        </div>
                        <div ng-show="vm.searchAttributes.fields[0].value != ''">
                            <select class="form-control" name="operator"
                                    ng-options="occurance for occurance in vm.occurances track by occurance"
                                    ng-model="vm.searchAttributes.fields[0].occur">
                            </select>
                        </div>
                    </div>
                </th>
                <th>
                    <div>
                        <div>
                            <input class="form-control" type="text" placeholder="Author"
                                   ng-model="vm.searchAttributes.fields[1].value" ng-keypress="vm.keypress($event)">
                        </div>
                        <div ng-show="vm.searchAttributes.fields[1].value != ''">
                            <select class="form-control" name="operator"
                                    ng-options="occurance for occurance in vm.occurances track by occurance"
                                    ng-model="vm.searchAttributes.fields[1].occur">
                            </select>
                        </div>
                    </div>
                </th>
                <th>
                    <div>
                        <div>
                            <input class="form-control" type="text" placeholder="Keywords"
                                   ng-keypress="vm.keypress($event)"
                                   ng-model="vm.searchAttributes.fields[2].value">
                        </div>
                        <div ng-show="vm.searchAttributes.fields[2].value != ''">
                            <select class="form-control" name="operator"
                                    ng-options="occurance for occurance in vm.occurances track by occurance"
                                    ng-model="vm.searchAttributes.fields[2].occur">
                            </select>
                        </div>
                    </div>
                </th>
                <th>Publication Year</th>
                <th>Category</th>
                <th>
                    <div>

                        <div>
                            <input class="form-control" type="text" placeholder="Language"
                                   ng-keypress="vm.keypress($event)"
                                   ng-model="vm.searchAttributes.fields[3].value">
                        </div>
                        <div ng-show="vm.searchAttributes.fields[3].value != ''">
                            <select class="form-control" name="operator"
                                    ng-options="occurance for occurance in vm.occurances track by occurance"
                                    ng-model="vm.searchAttributes.fields[3].occur">
                            </select>
                        </div>
                    </div>
                </th>
                <th>File name</th>
                <th>Added by</th>
                <th>
                    <div>
                        <div>
                            <input class="form-control" type="text" placeholder="Text" ng-keypress="vm.keypress($event)"
                                   ng-model="vm.searchAttributes.fields[4].value">
                        </div>
                        <div ng-show="vm.searchAttributes.fields[4].value != ''">
                            <select class="form-control" name="operator"
                                    ng-options="occurance for occurance in vm.occurances track by occurance"
                                    ng-model="vm.searchAttributes.fields[4].occur">
                            </select>
                        </div>
                    </div>
                </th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ebook in vm.ebooks">
                <td>{{ebook.title}}</td>
                <td>{{ebook.author}}</td>
                <td>{{ebook.keywords}}</td>
                <td>{{ebook.publicationYear}}</td>
                <td>{{ebook.category.name}}</td>
                <td>{{ebook.language.name}}</td>
                <td>{{ebook.fileName}}</td>
                <td>{{ebook.users.username}}</td>
                <td><p class="text-left" style="font-style: italic;">
                    <div style="font-style: italic;" ng-bind-html="ebook.highlight"></div>
                    </p></td>
                <td class="td-buttons" align="center">
                    <button ng-if="vm.currentUser.userType === 'administrator' || (vm.currentUser.userType === 'subscriber' && vm.currentUser.userCategory === NULL) || (vm.currentUser.userType === 'subscriber' && vm.currentUser.userCategory === ebook.category.name)"
                            class="btn download-btn" type="button" ng-click="vm.downloadEbook(ebook.fileName)"></button>
                    <button ng-if="vm.currentUser.username == NULL" type="button" class="btn simple-btn"
                            ng-click="vm.register()">Register To Download
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div ng-if="vm.ebooks.length === 0 && vm.showResults == true">
    <div class="col-xs-12 col-xs-offset-6">
        <p>No content</p>
    </div>
</div>
