
<div class="form-group row">
 	<div class="col-xs-12">
		<p class="h3 bg-success" align="center">Users</p>
	</div>
</div>

<div ng-show="vm.hasEditError" class="row">
	<div class="col-xs-12">
		<div uib-alert ng-class="'alert-danger'" close="vm.closeAddAlert()"> {{vm.error}}</div>
	</div>
</div>

<div class="table-responsive">
	<table class="table table-hover table-bordered">
		<thead class="thead-inverse">
		    <tr>
		        <th>Username</th>
		        <th>Password</th>
		        <th>First Name</th>
		        <th>Last Name</th>
		        <th>Category</th>
		        <th>User Type</th>
		        <th>Options</th>
		        
		    </tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in vm.users">
				<td ng-if="vm.isEditing === true && vm.userId == user.id"><input type="text"  class="form-control" ng-model="vm.username" ng-init="vm.username = user.username" ng-value="user.username"></td>
			    <td ng-if="vm.isEditing === false || vm.userId != user.id">{{user.username}}</td>

			    <td ng-if="vm.isEditing === true && vm.userId == user.id"><input type="text" class="form-control" ng-model="vm.userPassword" ng-init="vm.userPassword = user.password" ng-value="user.password"></td>
			    <td ng-if="vm.isEditing === false || vm.userId != user.id">{{user.password}}</td>

			    <td ng-if="vm.isEditing === true && vm.userId == user.id"><input type="text" class="form-control" ng-model="vm.userFirstName" ng-init="vm.userFirstName = user.firstName" ng-value="user.firstName"></td>
			    <td ng-if="vm.isEditing === false || vm.userId != user.id">{{user.firstName}}</td>

			    <td ng-if="vm.isEditing === true && vm.userId == user.id"><input type="text" class="form-control" ng-model="vm.userLastName" ng-init="vm.userLastName = user.lastName" ng-value="user.lastName"></td>
			    <td ng-if="vm.isEditing === false || vm.userId != user.id">{{user.lastName}}</td>

			    <td ng-if="vm.isEditing === true && vm.userId == user.id">
			    	<select class="form-control" ng-init="vm.categorySelected = user.category.id" ng-model="vm.categorySelected" ng-options="category.id as category.name for category in vm.categories">   
		    	 		<option ></option> 		    	
					</select>
				</td>
			    <td ng-if="vm.isEditing === false || vm.userId != user.id">{{user.category.name}}</td>

			    <td ng-if="vm.isEditing === true && vm.userId == user.id">
			    	<select class="form-control" ng-init="vm.userTypeSelected = user.userType" ng-model="vm.userTypeSelected" ng-options="userType.type as userType.type for userType in vm.userTypes">   
		    	 		<option ></option> 		    	
					</select>
				</td>
			    <td ng-if="vm.isEditing === false || vm.userId != user.id">{{user.userType}}</td>

			    <td  class="td-buttons" align="center">
			    	<button ng-if="vm.isEditing === false || vm.userId != user.id" type="button" class="btn edit-btn" ng-click="vm.editUser(user.id)"></button>
			    	<button ng-if="vm.isEditing === false || vm.userId != user.id" type="button" class="btn delete-btn" ng-click="vm.deleteUser(user.id)"></button>
			    	<button ng-if="vm.isEditing === true && vm.userId == user.id" type="button" class="btn ok-btn" ng-click="vm.modiflyUserByAdmin(user.id, user.username)"></button>
			    	<button ng-if="vm.isEditing === true && vm.userId == user.id" class="btn cancel-btn" type="button" ng-click="vm.editUserCancel()"></button>
			    </td>
			</tr>
		</tbody>
	</table>
</div>


<button ng-if="vm.isEditing === false" type="button" class="btn add-btn" ng-click="vm.addUser()"></button>

