<form id="userAdd" ng-submit="vm.addNewUser()" name="addNewUserForm">
	<div class="form-group row">
	 	<div class="col-xs-4">
    		<p class="h3 bg-success" align="center">Add user</p>
    	</div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            <label>Username:</label>
        </div>
        <div class="col-xs-2">        
            <input class="form-control" type="text" ng-model="vm.newUsername">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            <label>Password:</label>
        </div>
        <div class="col-xs-2">        
            <input class="form-control" type="text" ng-model="vm.newPassword">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            <label>First Name:</label>
        </div>
        <div class="col-xs-2">        
            <input class="form-control" type="text" ng-model="vm.newFirstName">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            <label>Last Name:</label>
        </div>
        <div class="col-xs-2">        
            <input class="form-control" type="text" ng-model="vm.newLastName">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            <label>Category:</label>
        </div>
        <div class="col-xs-2">        
            <select class="form-control" ng-model="vm.newCategorySelected" ng-options="category.id as category.name for category in vm.categories">   
                <option value="">--Select Category--</option>              
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            <label>User Type:</label>
        </div>
        <div class="col-xs-2">        
            <select class="form-control" ng-model="vm.newUserTypeSelected" ng-options="userType.type as userType.type for userType in vm.userTypes">   
                <option value="">--Select User Type--</option>              
            </select>
        </div>
    </div>

    <div ng-show="vm.hasAddError" class="row">
		<div class="col-xs-4">
			<div uib-alert ng-class="'alert-danger'" close="vm.closeAddAlert()"> {{vm.error}}</div>
		</div>
	</div>

	<button class="btn ok-btn" type="submit" ></button>
	<button class="btn cancel-btn" type="button" ng-click="vm.addNewUserCancel()"></button>
	<br><br>
</form>